name: Android CI

on:
  push:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant permission to Gradle
        run: chmod +x gradlew

      - name: Build Debug APK (QC)
        if: github.ref == 'refs/heads/dev'
        run: ./gradlew assembleDebug

      - name: Upload Debug APK (QC)
        if: github.ref == 'refs/heads/dev'
        uses: actions/upload-artifact@v4
        with:
          name: qc-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Build Release AAB (Production)
        if: github.ref == 'refs/heads/main'
        run: ./gradlew bundleRelease
